@media screen and (max-width:1120px) {
    .font-page {
        width: 94%;
        left: 3%;
    }

    .offer {
        width: 94%;
        left: 3%;
    }

    .offer-content-box {
        width: 25%;
    }

    .pricing {
        width: 94%;
        left: 3%;
    }

    .price-box {
        width: 32%;
    }

    .intro {
        width: 96%;
        left: 2%;
    }

    .intro-box {
        width: 31%;

    }

    .contact-us {
        left: 3%;
        width: 94%;
    }

}

@media screen and (max-width:992px) {
    .offer-content-box {
        width: 50%;
    }

    .intro-box {
        width: 31%;

    }

}

@media screen and (max-width:600px) {

    .intro-box {
        width: 31%;

    }


    .offer-content-box {
        width: 100%;
    }

    .price-box {
        width: 100%;
        margin-bottom: 10px;
    }

    .intro-box {
        width: 100%;
        margin-bottom: 10px;
    }
}